﻿@using EmployeesTasks.ViewModels;
@using EmployeesTasks.ViewModels.EmployeeTasks
@using PagedList
@model IPagedList<EmployeeTaskViewModel>

@if (Model.Any())
{
    <table class="table task-list">
        <a asp-controller="EmployeeTask" asp-action="Create" type="button" class="btn btn-success">Create</a>
        <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Deadline</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td><a asp-controller="EmployeeTask" asp-action="Details" asp-route-id="@task.Id">@task.Title</a></td>
                    <td>@task.Description</td>
                    <td>@task.DueDate.ToString("dd/MM/yyyy")</td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="@("#DeleteTask-" + task.Id)" data-url="@Url.Action($"Delete/{task.Id}")"><i class="bi bi-x-lg"></i></button>
                        <a asp-controller="EmployeeTask" asp-action="Edit" asp-route-id="@task.Id" type="button" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="@("#CompleteTask-" + task.Id)" data-url="@Url.Action($"CompleteTask/{task.Id}")"><i class="bi bi-check"></i></button>
                    </td>
                </tr>

                @await Html.PartialAsync("~/Views/EmployeeTask/Delete.cshtml", task)
                @await Html.PartialAsync("~/Views/EmployeeTask/CompleteTask.cshtml", task)
            }
        </tbody>
    </table>

    @if (Model.PageCount != 1)
    {
        for (int i = 0; i < Model.PageCount; i++)
        {
            var num = i + 1;

            <button class="btn btn-primary page-numbers">@num</button>
        }
    }
}
else
{
    <h2 style="text-align:center">There's no tasks yet.</h2>
    <a asp-controller="EmployeeTask" asp-action="Create" type="button" class="btn btn-success">Create</a>
}
