﻿@using EmployeesTasks.ViewModels.Employees
@model EmployeeViewModel

<form>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Full Name:</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" asp-for="@Model.FullName">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Email:</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" asp-for="@Model.Email">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Phone Number:</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" asp-for="@Model.PhoneNumber">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Date of Birth:</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" asp-for="@Model.DateOfBirth" value="@Model.DateOfBirth.ToString("dd/MM/yyyy")">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Monthly Salary:</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" asp-for="@Model.MonthlySalary" value="@Model.MonthlySalary.ToString("C")">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Completed Tasks:</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" asp-for="@Model.CompletedTasks">
		</div>
	</div>
</form>
