﻿@using EmployeesTasks.ViewModels.Employees
@model List<EmployeeViewModel>

@if (Model.Any())
{
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Name</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var employee in Model)
			{
				<tr>
					<td>@employee.FullName</td>
					<td>
						<form method="post" asp-controller="EmployeeTask" asp-action="AssignTask">
							<input type="hidden" name="employeeId" value="@employee.Id" />
							<button type="submit" class="btn btn-primary">Assign</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h2 style="text-align:center">There's no employees yet.</h2>
	<a asp-controller="Employee" asp-action="Create" type="button" class="btn btn-success">Create</a>
}
