﻿@using EmployeesTasks.ViewModels.EmployeeTasks
@model EmployeeTaskViewModel

<div class="modal fade" id="CompleteTask-@Model.Id" aria-labelledby="CompleteTaskLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="CompleteTaskkLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form asp-controller="EmployeeTask" asp-action="CompleteTask" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<input type="hidden" asp-for="Id" />
						<p>Mark task: @Model.Title as completed ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
