﻿@using EmployeesTasks.ViewModels.EmployeeTasks
@model EmployeeTaskViewModel

<form asp-controller="EmployeeTask" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DueDate" class="control-label">Deadline</label>
        <input asp-for="DueDate" type="date" class="form-control text-muted"
               min="@DateTime.Now.ToString("yyyy-MM-dd")">
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
