﻿@using EmployeesTasks.ViewModels.EmployeeTasks
@model EmployeeTaskViewModel

<form>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Title:</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" asp-for="@Model.Title">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Deadline:</label>
		<div class="col-sm-10">
			<input type="text" readonly class="form-control-plaintext" asp-for="@Model.DueDate" value="@Model.DueDate.ToString("dd/MM/yyyy")">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Assigned Employee ID:</label>
		<div class="col-sm-10">
			@if (Model.EmployeeId == null)
			{
				<input type="text" readonly class="form-control-plaintext" value="Not Assigned">
			}
			else
			{
				<input type="text" readonly class="form-control-plaintext" asp-for="@Model.EmployeeId" value="@Model.EmployeeId">
			}
		</div>
	</div>
	<div class="form-group">
		<label>Description:</label>
		<textarea readonly class="form-control" asp-for="@Model.Description" rows="3"></textarea>
	</div>
	<a asp-controller="EmployeeTask" asp-action="AssignTask" asp-route-id="@Model.Id" type="button" class="btn btn-success">Assign</a>
</form>
