﻿@using EmployeesTasks.ViewModels;
@using EmployeesTasks.ViewModels.Employees
@using PagedList
@model IPagedList<EmployeeViewModel>

@if (Model.Any())
{
    <table class="table employee-list">
        <a asp-controller="Employee" asp-action="Create" type="button" class="btn btn-success">Create</a>
        <a asp-controller="Employees" asp-action="TopEmployees" type="button" class="btn btn-primary">Filter by top 5</a>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Salary</th>
                <th scope="col">CompletedTasks</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td><a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id">@employee.FullName</a></td>
                    <td>@employee.Email</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.DateOfBirth.ToString("dd/MM/yyyy")</td>
                    <td>@employee.MonthlySalary.ToString("C")</td>
                    <td>@employee.CompletedTasks</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@("#DeleteEmployee-" + employee.Id)" data-url="@Url.Action($"Delete/{employee.Id}")"><i class="bi bi-x-lg"></i></button>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" type="button" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                    </td>
                </tr>

                @await Html.PartialAsync("~/Views/Employee/Delete.cshtml", employee)
            }
        </tbody>
    </table>

    @if (Model.PageCount != 1)
    {
        for (int i = 0; i < Model.PageCount; i++)
        {
            var num = i + 1;

            <button class="btn btn-primary page-numbers">@num</button>
        }
    }
}
else
{
    <h2 style="text-align:center">There's no employees yet.</h2>
    <a asp-controller="Employee" asp-action="Create" type="button" class="btn btn-success">Create</a>
}

